body {
    /* https://coolors.co/7400b8-6930c3-5e60ce-5390d9-4ea8de-48bfe3-56cfe1-64dfdf-72efdd-80ffdb */
    /* https://coolors.co/07beb8-3dccc7-68d8d6-9ceaef-c4fff9 */
    background-color: #64DFDF;
    text-align: center;
}

.form_search {
    display: flex; 
    padding: 70px;
    align-items: center; 
    justify-content: center;
}

.tabContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:91.5%; 
    margin-left: auto; 
    margin-right: auto;

}

.tabButtonsContainer {
    display: block;
}

.tabButton {
    background-color: #2cc285;
    color: white;
    border: none;
    float: left;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px ;
    

    
}

.tabButton:hover {
    background-color: #77b39b;
}

/* .tabButton .active {
    background-color: aqua;
} */

.tabContentContainer {
    width: 100%; 
    
}


