<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/favicon.ico" rel="icon">

        <!-- https://v5.getbootstrap.com/docs/5.0/getting-started/introduction/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

        <title>Anki Vocabulary Builder:{% block title%}{% endblock %}</title>
    </head>

    <body>
        

        <footer class="small text-center text-muted">
            <p>Author: Icaro Ryan<br>
            <a href="mailto:icaroryan3@gmail.com" class="link-info">icaroryan3@gmail.com</a></p>
        </footer>
    </body>
</html>