{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    {% if not word %}
        <div class="centerContainer">
            <div class="row form_search">
                <form class="col s12" id="form" action="/" method="POST" autocomplete="off">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="word" name="q" type="text" maxlength="45" required>
                            <label for="word">Search Word</label>
                            <i class="material-icons prefix" name="submit" id="icon">search</i>
                        </div>
                    </div>

                    <div class="row" style="display: flex;">
                        <div class="input-field col s8">
                            <select multiple id="dictionaries" name="d" required>
                                {% for dict in dictionaries.keys() %}
                                    <option value="{{ dict }}">{{ dictionaries[dict]["name"] }}</option>
                                {% endfor %}
                            </select>
                            <label>Select your dictionaries</label>
                        </div>
                    </div>
                    <span class="helper-text" data-error="All fields are required."></span>
                    
                </form>
            </div>
        </div>

        
        

    {% endif %}

    {% if word %}
        <a href="/"><i class="material-icons prefix" id="back">arrow_back_ios</i></a>


        <div class="container" style="width: 50%;">
            <div class="row form_search">
                <form class="col s12" id="form" action="/" method="POST" autocomplete="off">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="word" name="q" type="text" maxlength="45">
                            <label for="word">Search Word</label>
                            <i class="material-icons prefix" name="submit" type="submit" id="icon">search</i>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="tabContainer container">

            <div class="tabButtonsContainer">
                <!-- Max nº Buttons = 7 -->
                {% for dict in dicts %}
                    <button onClick="open_page(this.id)" class="tabButton" id="{{ dict }}">{{ dictionaries[dict]["name"] }}</button>
                {% endfor %}
            </div>

            <div class="tabContentContainer">
                {% for dict in dicts %}
                    <div id="{{ dict }}_embed" class="tabContent">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe {% if dictionaries[dict]['x-frame-bypass'] == True %} is="x-frame-bypass" loading="eager" {% endif %} 
                            class="embed-responsive-item" src="{{ dictionaries[dict]['url'].replace('word_x', word) }}" frameborder="0" 
                            sandbox="allow-scripts allow-same-origin allow-forms" 
                            {% if dictionaries[dict]['x-frame-bypass'] == False %} loading="lazy" {% endif %} 
                            title="{{ dictionaries[dict]['name'] }}" name="{{ dict }}">
                                <div class="p">Your browser does not support iframes.</div>
                            </iframe>
                        </div>
                    </div> 
                {% endfor %}
            </div>

        </div>
    {% endif %}
    
{% endblock %}
