{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    {% if not word %}
        <form class="form_search" action="/" method="POST">
            <input type="text" name="word" placeholder="Search Word">
            <!-- <button type="submit" border="0"> -->
                <!-- <i class="fas fa-search" aria-hidden="true"></i> -->
            <!-- </button> -->
            <input type="image" name="submit" src="{{ url_for('static', filename='img/search.png') }}" border="0" alt="submit" width="35px">
        </form>

    {% endif %}

    {% if word %}

        <div class="tabContainer">
            <div class="tabButtonsContainer">
                <button class="tabButton">Cambridge Dictionary</button>
                <button class="tabButton">Longman Dictionary</button>
            </div>
            

            <div class="tabContentContainer">
                <div id="cambridge" class="tabContent">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="https://dictionary.cambridge.org/us/dictionary/english/{{ word }}" sandbox="allow-scripts allow-same-origin allow-forms" title="Cambridge Dictionary" name="cambridge" loading="lazy">
                            <div class="p">Your browser does not support iframes.</div>
                        </iframe>
                    </div>
                </div>
            </div>
            
        </div>
        

        

        <!-- <div class="embed-responsive embed-responsive-21by9" style="width:91.5%; display: block; margin-left: auto; margin-right: auto;">
            <iframe class="embed-responsive-item" src="https://dictionary.cambridge.org/us/dictionary/english/{{ word }}" sandbox="allow-scripts allow-same-origin allow-forms" title="Cambridge Dictionary" name="cambridge" loading="lazy">
                <div class="p">Your browser does not support iframes.</div>
            </iframe>
        </div>
        <br>
        <div class="embed-responsive embed-responsive-21by9" style="width:91.5%; display: block; margin-left: auto; margin-right: auto;">
            <iframe is="x-frame-bypass" class="embed-responsive-item" src="https://www.ldoceonline.com/dictionary/{{ word }}" title="Longman Dictionary" name="longman" loading="lazy">
                <div class="p">Your browser does not support iframes.</div>
            </iframe>
        </div> -->
    {% endif %}
    
{% endblock %}
