<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Icaro Ryan">
        <meta name="keywords" content="Icaro Ryan, Dictionary, English, Anki, Anki Vocabulary Builder, search">
        <meta name="description" content="All-in-one Dictionary">

        <link href="/static/img/favicon.ico" rel="icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"

        <!-- https://v5.getbootstrap.com/docs/5.0/getting-started/introduction/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

        <title>Anki Vocabulary Builder:{% block title%}{% endblock %}</title>
    </head>

    <body>
        <!-- <nav class="navbar navbar-dark bg-primary" style="background-color: #6610f2">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="margin: -12px">
                    <img src="{{ url_for('static', filename='img/favicon.png') }}" width="50" height="50" alt="Anki Vocabulary Builder" loading="lazy">
                </a>
              </div>
        </nav> -->

        <main>
            {% block main%}{% endblock %}
        </main>

        
        <footer class="small text-center text-muted">
            <p>Author: Icaro Ryan<br>
            <a href="mailto:icaroryan3@gmail.com" class="link-info">icaroryan3@gmail.com</a></p>
        </footer>

        <!-- Java Script -->
        <script src="{{ url_for('static', filename='js/app.js')}}"></script>
        <!-- Popper.js first, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    </body>
</html>